/* undead-discord by UndeadLeach */
@import url("https://rawgit.com/simoniz0r/userstyles/9176f6b860a945e2a6883404a4374809881cd66b/undead-discord.css");
/* set color variables in undead-discord to match Breeze-dark colors */
:root {
    --bg-color: #1D1F23;
    --fg-color: #cccecf;
    --secondary-bg-color: #232629;
    --secondary-fg-color: #6b6968;
    --darkest-bg-color: #232629;
    --highlight-color: #3daee9;
    --secondary-highlight-color: #3DAEE9;
}
/* set all Discord fonts to use Noto family of fonts */
div[class*="appMount-"] { font-family: "Noto Sans", "Noto Mono", "Noto Serif" !important; }
/* remove video in ban user message (as moderator)
remove channel categories (channels list looks like it did before) 
remove username and account # from status display below channel list */
.containerDefault-3GGEv_, video[class*="spacing-"], div[class*="accountDetails-"] { display: none !important; }
/* change channel list padding so it takes up less room */
div[class*="containerDefault-"] { padding: 2px; }
/* change font size, image size, and emoji size to be larger so they can be read easily when zoom level is at lowest
.markup, textarea[class*="textAreaEnabled-"] { font-size: 130% !important; }
textarea[class*="textAreaEnabled-"] { height: 40px !important; }
.theme-dark .chat form .typing { font-size: 90% !important; }
.message-group h2 .timestamp { font-size: 85% !important; } */
.message-group h2 strong { font-size: 80% !important; font-weight: 600 !important; }
img.emoji.jumboable { height: 50px !important; width: 50px !important; }
img.emoji { height: 35px !important; width: 35px !important; }
/* change margins on chat and channel list to remove wasted space */
.scroller-NXV0-d { margin-top: 15% !important; margin-right: 0px !important; }
.messages-wrapper { margin-left: -20px !important; }
.avatar-large {
    background-size: 35px 35px;
    height: 35px;
    width: 35px;
    margin-right: 5px !important;
}
