/* PERSONAL CUSTOMIZATIONS; CHANGE/REMOVE THESE */
/* set all Discord fonts to use Noto family of fonts */
div[class*="appMount-"] { font-family: "Noto Sans", "Noto Mono", "Noto Serif" !important; }
/* remove video in ban user message (as moderator)
remove channel categories (channels list looks like it did before) 
remove username and account # from status display below channel list */
.containerDefault-3GGEv_, video[class*="spacing-"], div[class*="accountDetails-"] { display: none !important; }
/* change channel list padding so it takes up less room */
div[class*="containerDefault-"] { padding: 1px; }
/* change username size to be smaller */
/* .message-group h2 strong { font-size: 80% !important; font-weight: 600 !important; }
/* change emojis to be larger */
img.emoji.jumboable { height: 40px !important; width: 40px !important; }
img.emoji { height: 30px !important; width: 30px !important; }
/* change margins on chat and channel list to remove wasted space */
.scroller-NXV0-d { margin-top: 15% !important; margin-right: 0px !important; }
.messages-wrapper { margin-left: -20px !important; }
/* make avatars smaller */
.avatar-large {
  background-size: 35px 35px;
  height: 35px;
  width: 35px;
  margin-right: 5px !important;
}

:root {
  --main-color: #232629;
  --main-darker: #1D1F23;
  --dark: #1D1F23;
  --grey: #232629;
  --light: #232629;
  --links: #2c8ebe;

  /* Default Colors
    --main-color: #1a3cb3;
    --main-darker: #0d1d59;
    --dark: #16181d;
    --grey: #21252b;
    --light: #282c34;
    --links: #4d79ff;
  */
}

div[class*="emojiPicker-"] {
  background: transparent;
  border: 0; }
div[class*="emojiPicker-"] div[class*="header-"] {
  background-color: var(--dark) !important; }
div[class*="emojiPicker-"] div[class*="header-"] .search-bar-light {
  background: transparent; }
div[class*="emojiPicker-"] div[class*="stickyHeader-"] {
  background-color: var(--dark) !important;
  left: 0;
  width: 100%; }
div[class*="emojiPicker-"] div[class*="scrollerWrap-"] {
  background: var(--main-color) !important; }
div[class*="emojiPicker-"] div[class*="category-"] {
  color: var(--links) !important;
  font-size: 13px;
  font-weight: bold;
  padding-left: 1em; }
div[class*="emojiPicker-"] div[class*="categories-"] {
  background: var(--dark) !important;
  border-top: 0;
  margin: 0;
  padding: 0 12px; }
div[class*="emojiPicker-"] div[class*="categories-"] .item.selected {
  border-bottom-color: var(--links) !important; }
div[class*="emojiPicker-"] div[class*="dimmer-"] {
  border-radius: 0; }
div[class*="emojiPicker-"] div[class*="dimmer-"].visible {
  background: var(--dark) !important; }

.divider-red>span {
    color: var(--links) !important; }
.messages .divider.divider-red div {
  background-color: var(--links) !important; }

/* ## ============= ##
####    LABELS     ###
## ============== ##*/
.theme-dark .membersGroup-v9BXpm {
    text-align: center;
    line-height: 7px;
    padding-bottom: 25px;
    color: #fff;
    border-bottom: 1px solid var(--main-color);
    width: 75%;
    margin-left: 12.5%;
}

.nameSelectedText-sp_EUw:before {content: "> ";}

.botTagRegular-2HEhHi {
    padding: 2px 3px 2px 3px;
    background: #e68a00;
    border-radius: 3px;
    display: inline-block;
    flex-shrink: 0;
    font-size: 10px;
    font-weight: 500;
    line-height: 13px;
    margin-left: 6px;
    padding: 1px 2px;
    text-transform: uppercase;
    vertical-align: top;
}
/* #################################### */

.header-2o-2hj,
.container-1UB9sr,
.container-2Thooq,
.scroller-2v3d_F,
.guilds-wrapper .guilds {
    border-right: 1px solid var(--dark);
    border-left: 1px solid var(--light);
}
.theme-dark .headerBar-UHpsPw,
#friends .friends-table {
    margin-top: 0;
    border-left: 1px solid #373c49;
}
.private-channels .search-bar,
.scroller-2FKFPG{
    border-right: 1px solid var(--dark);
}
.ui-standard-sidebar-view .content-column.default,
.flex-horizontal>.flex-spacer,
.theme-dark .title-3qD0b- {
    border-left: 1px solid #373c49;
}
.chat .new-messages-bar {
    background-color: var(--main-color);
}
.chat .new-messages-bar:hover {
    background-color: var(--main-darker);
}
a,.wrapper-O5i5-0 .instantInviteModal-3vhcvC .clipboardInputInner-RLx2hK input {color: var(--links) !important;}
.appMount-3VJmYg,
.typeWindows-1za-n7 {background: #fff;}
.wordmark-2iDDfm path {fill: #000;}

.typing-2GQL18 {
    top: -20px !important;
    border-radius: 6px;
    background: var(--grey) !important;
    
}

.guilds-wrapper,
.headerTop-3C2Zn0,
.theme-dark .quickMessage-1yeL4E,
.theme-dark .search .search-bar,
.theme-dark .modal-3HD5ck,
.theme-dark .footer-2yfCgX,
.contentSelectedText-3wUhMi,
.contentSelectedVoice-1WDIBM,
.theme-dark .menu-Sp6bN1,
.theme-dark .bar-2Qqk5Z,
.theme-dark .dockItem-2kQDqg:hover,
.theme-dark .divider-1pnAR2,
.theme-dark .searchBar-1MOL6S,
#bd-settingspane-container .ui-switch-item .ui-switch-wrapper .ui-switch,
.theme-dark .member-3W1lQa:hover .content-OzHfo4,
.guilds-wrapper .scroller-wrap .scroller,
.search-bar.search-bar-light .search-bar-inner,
.themeDefault-24hCdX.sizeDefault-2YlOZr,
.need-help-modal.deprecated .header,
.theme-dark #friends .tab-bar .tab-bar-item:hover:not(.selected),
.theme-dark .side-8zPYf6 .itemDefault-3Jdr52:hover, .theme-dark .side-8zPYf6 .itemHover-EnbcjT:hover{
  background: var(--dark) !important;
}
.icon-3o6xvg,
.theme-dark .inner-zqa7da,
.guilds-wrapper .guilds .guild-icon {
    background-color: var(--dark) !important;
}
.guilds-wrapper .guilds-add {
    background: var(--dark);
    border: 2px dashed var(--light);
    color: var(--light);
}
.create-guild-container.deprecated .action {
    background: transparent;
    border: none;
}
.theme-dark .ui-standard-sidebar-view .sidebar-region,
.container-PNkimc,
.channels-Ie2l6A,
.container-2Thooq,
.container-1UB9sr,
.channel-SEolQq .da-channel,
.form-deprecated .form-header,
.form.deprecated .form-header,
.form-deprecated .form-inner,
.form.deprecated .form-inner,
.theme-dark .body-3ND3kc,
.wrapper-O5i5-0 .instantInviteModal-3vhcvC .form-actions,
.bda-dark .emoji-picker, .bda-dark .emojiPicker-3m1S-j,
.bda-dark .emoji-picker .category,
.theme-dark .messagesPopoutWrap-1MQ1bW .messagesPopout-24nkyi .message-group,
.theme-dark .messagesPopoutWrap-1MQ1bW .header-ykumBX,
.bda-dark .emoji-picker .header .search-bar,
.theme-dark .messagesPopoutWrap-1MQ1bW .footer-1kmXd4,
.bda-dark .emojiPicker-3m1S-j .header-1nkwgG .search-bar,
.bda-dark .emojiPicker-3m1S-j .category-2U57w6,
#bd-settingspane-container .scroller-wrap .scroller,
.bda-slist li,
.theme-dark .body-SKIE6r,
.theme-dark .changeDetails-bk98pu,
.theme-dark .cardPrimaryOutline-29Ujqw,
.theme-dark .cardPrimaryEditable-3KtE4g,
.theme-dark .cardPrimary-1Hv-to,
.theme-dark .body-3iLsc4, .theme-dark .footer-1fjuF6 {
  background: var(--grey) !important;
}
.theme-dark .title-3qD0b-,
.theme-dark .title-3qD0b-,
.theme-dark .chat,
.theme-dark .chat>.content,
.scroller-wrap .scroller,
.theme-dark .members-1998pB,
.theme-dark .item-1GzJrl:hover,
.theme-dark .ui-standard-sidebar-view .content-region,
.theme-dark .friends-table, .theme-dark .messages-wrapper,
.theme-dark .chat form,
.theme-dark .headerBar-UHpsPw,
.need-help-modal.deprecated .form-inner.loading,
.need-help-modal.deprecated .footer,
.need-help-modal.deprecated .header input[type=text] {
  background: var(--light) !important;
}
.content-20Aix8:hover .nameDefaultText-24KCy5, .nameDefaultVoice-3WUH7s, .nameLockedText-3pqQcL, .nameLockedVoice-26MhB1,
.wrapper-O5i5-0 .instantInviteModal-3vhcvC .form-actions,
.wrapper-O5i5-0 .instantInviteModal-3vhcvC .form-header header,
.wrapper-O5i5-0 .instantInviteModal-3vhcvC .blurb-zsamaY,
.wrapper-O5i5-0 .instantInviteModal-3vhcvC .expireText-34b09Y {
    color: #fff !important;
}
.feed-1o0xmF {
    background-color:var(--light);
    border-left: 1px solid #373c49;
}
.theme-dark #friends .tab-bar .tab-bar-item.tab-bar-item-primary,
.theme-dark #friends .tab-bar .tab-bar-item.tab-bar-item-primary:hover:not(.selected) {
    background-color: var(--main-color);
}
.theme-dark #friends .tab-bar .tab-bar-item.selected{
    background-color: #fff;
    color: var(--main-color);
}
.activity-11LB_k,
.lookFilled-1Gx00P.colorBrand-3pXr91,
.side-8zPYf6 .itemSelected-1qLhcL,
.barFill-23-gu-,
.bd-pfbtn,
.theme-dark .topSectionNormal-2-vo2m,
.content-20Aix8:hover,
.theme-dark .member-3W1lQa.popout-open .content-OzHfo4,
.theme-dark .member-3W1lQa.popout-open:hover .content-OzHfo4,
.topSectionPlaying-1J5E4n,
.ui-standard-sidebar-view #editor-detached button,
.wrapper-O5i5-0 .instantInviteModal-3vhcvC .copy-3nFbq8,
.theme-dark .questionMark-CWEQZn,
#bd-settingspane-container .ui-switch-item .ui-switch-wrapper .ui-switch.checked,
.themeDefault-24hCdX.valueChecked-m-4IJZ,
#bd-settings-sidebar .ui-tab-bar-item.selected {
    background: var(--main-color) !important;
}
.theme-dark .headerExpanded-CUEwZ5,
.theme-dark .headerClickable-2IVFo9, .theme-dark .headerDefault-1wrJcN {
    background-color: var(--dark);
}

.theme-dark .auditLog-3jNbM6 {
    border-color: var(--dark);
}

.avatar-uploader-inner {background:transparent;}
.theme-dark .card-FDVird:before,
.theme-dark .cardPrimaryEditable-3KtE4g[style*="background-color: rgb(114, 137, 218);"] {
  background: var(--main-color) !important;
  border-color: var(--main-color) !important;
}

.theme-dark .cardPrimaryEditable-3KtE4g[style*="background-color: rgb(114, 137, 218);"] .checked-3_4uQ9 {
    border-color: var(--main-color) !important;
    color: var(--main-color) !important;
}
.theme-dark .cardPrimaryEditable-3KtE4g[style*="background-color: rgb(114, 137, 218);"] .checked-3_4uQ9 polyline {
    stroke: var(--main-color) !important;
}
.wrapper-O5i5-0 .instantInviteModal-3vhcvC .checkbox .checkbox-inner input:checked+span,
.checkbox .checkbox-inner input[type=checkbox]:checked+span,
.checkbox .checkbox-inner input[type=checkbox]:checked+span {
    background: var(--main-color);
    border-color: var(--main-color);
}

.theme-dark .input-cIJ7To.focused-1mmYsc,
.theme-dark .input-cIJ7To:focus {
    border-color: var(--main-color) !important;
}

.clipboardInputInner-1EXMA3 {
    background: var(--light);
    border-color: var(--main-color);
}
.clipboardInputInner-1EXMA3 button {border-left:1px solid var(--grey);}
.clipboardInputInner-1EXMA3 button:first-of-type:before {
    background: -webkit-gradient(linear,left top,right top,from(hsla(0,0%,100%,0)),to(var(--grey)));
    background: linear-gradient(90deg,hsla(0,0%,100%,0),var(--grey));
}

.need-help-modal.deprecated .form-inner.loading{border-bottom:1px solid var(--dark);}
.need-help-modal.deprecated .footer {border-top:1px solid var(--light);}
.need-help-modal.deprecated .header input[type=text] {
    box-shadow: none;
    border: #000;
}

.winButtonClose-1HsbF- {
    background-color: #f04747;
    opacity:0.8;
}

.winButtonMinMax-PBQ2gm{opacity:0.8;}
.winButtonMinMax-PBQ2gm,
.winButtonMinMax-PBQ2gm:hover {
    background-color: #16181d;
}

.emoji-picker, .emojiPicker-3m1S-j {
    border-radius: 4px;
    border: 1px solid var(--dark);
}

.form-deprecated .form-header,
.form.deprecated .form-header,
.form-deprecated .form-inner,
.form.deprecated .form-inner{
    color: var(--main-color);
}
.container-1UB9sr {border-bottom:none;}
.clipboardInputInner-1EXMA3,
a, .wrapper-O5i5-0 .instantInviteModal-3vhcvC .clipboardInputInner-RLx2hK input{
    background-color: var(--light) !important;
}
.noticeInfo-3_iTE1 {
  background-color: var(--main-color);
}
.theme-dark .cardPrimaryOutline-29Ujqw,
.theme-dark .cardPrimaryEditable-3KtE4g {border-color:var(--dark);}
.ui-standard-sidebar-view .sidebar-region .sidebar {padding: 20px 6px 20px 6px;}
.ui-standard-sidebar-view .sidebar-region {flex: 0 0 0px;}
.ui-standard-sidebar-view .content-column.default {max-width:none;}

/*  MESSAGES  */
.channelTextArea-rNsIhG {margin: 5px 0 5px;}
.theme-dark .message-group:not(.has-divider) {border:none;}
.message-group.compact.message-group {padding:0;}

/*  SCROLLBAR  */
::-webkit-scrollbar {border: none !important;width: 6px !important;}
::-webkit-scrollbar-track {background: var(--grey);border: none !important;}
::-webkit-scrollbar-track-piece {background: var(--grey) !important;border-radius: 0px !important;border: none !important;}
::-webkit-scrollbar-thumb {background: var(--dark) !important;border-radius: 0px !important;border: none !important;}