! Set name
*VT100*title: xterm

! Set xterm as login shell
*VT100*loginShell: true

! Set TERM variable
*VT100*termName:  xterm-256color

! Select URLs when double clicking
*charClass: 33:48,35:48,37-38:48,43-47:48,58:48,61:48,63-64:48,95:48,126:48

! Set copy and pasting
xterm*vt100.translations: #override\n\
Shift Ctrl <KeyPress> v: insert-selection(CLIPBOARD)\n\
Shift Ctrl <KeyPress> c: copy-selection(CLIPBOARD)\n

! Scrolling
*VT100*saveLines: 4096
*VT100*scrollKey: true
*VT100*rightScrollBar: false
*VT100*ScrollBar: false
*VT100*scrollTtyOutput: false

! Set font name and size
*VT100*faceName: xft:DejaVu Sans Mono:size=10:hinting=true:antialias=true
*VT100*renderFont: true

! Set font rendering
Xft.dpi: 96
Xft.antialias: true
Xft.hinting: true
Xft.rgba: rgb
Xft.autohint: false
Xft.hintstyle: hintslight
Xft.lcdfilter: lcddefault 

! Spacing
*VT100*lineSpace: 1
*VT100*letterSpace: 0
*VT100*internalBorder: 2

! Cursor and pointer
*VT100*cursorBlink: true
*VT100*pointerColor: #2e8ac3
*VT100*cursorColor: #BABDB6

! Set background and foreground color
*VT100*foreground: #BABDB6
*VT100*background: #232629
URxvt*foreground: #BABDB6
URxvt*background: #232629

! Set colorscheme
! Black
*VT100*color0: #252525
*VT100*color8: #263238

!Red
*VT100*color1: #a54b4b
*VT100*color9: #d76f68

!Green
*VT100*color2: #59934f
*VT100*color10: #849900

!Yellow
*VT100*color3: #83653a
*VT100*color11: #b48800

!Blue
*VT100*color4: #2e8ac3
*VT100*color12: #3cb9fc

!Magenta
*VT100*color5: #5c3466
*VT100*color13: #ad7fa8

!Cyan
*VT100*color6: #109c9c
*VT100*color14: #4ed6d6

!White
*VT100*color7: #727272
*VT100*color15: #cce0ea

! URxvt settings
URxvt*title: OptiPlex
URxvt.depth: 32
URxvt.geometry: 90x30
URxvt.loginShell: true
URxvt.internalBorder: 3
URxvt.lineSpace: 1
URxvt.letterSpace: 0
URxvt*font: xft:Noto Mono:size=10:hinting=true:antialias=true,xft:FontAwesome:size=10
URxvt*boldFont: xft:Noto Mono:size=10:bold:hinting=true:antialias=true,xft:FontAwesome:size=10
