! Set name
Xterm*termName: OptiPlex

! URxvt settings
URxvt*termName: OptiPlex
URxvt.depth: 32
URxvt.geometry: 90x30
URxvt.loginShell: true
URxvt.internalBorder: 3
URxvt.lineSpace: 1
URxvt.letterSpace: 0
URxvt*font: xft:Noto Mono:size=10:hinting=true:antialias=true,xft:FontAwesome:size=10
URxvt*boldFont: xft:Noto Mono:size=10:bold:hinting=true:antialias=true,xft:FontAwesome:size=10

! Set font name and size
xterm*faceName: xft:DejaVu Sans Mono:size=10:hinting=true:antialias=true,xft:FontAwesome:size=10

! Random xterm settings
xterm*lineSpace: 1
xterm*letterSpace: 0
xterm*internalBorder: 5
xterm*cursorBlink: true
xterm*pointerColor: #2e8ac3
xterm*cursorColor: #BABDB6

! Set xterm as login shell
xterm*loginShell: true

! Set font rendering
Xft.dpi: 96
Xft.antialias: true
Xft.hinting: true
Xft.rgba: rgb
Xft.autohint: false
Xft.hintstyle: hintslight
Xft.lcdfilter: lcddefault 

! Set copy and pasting
xterm*vt100.translations: #override\n\
Shift Ctrl <KeyPress> v: insert-selection(CLIPBOARD)\n\
Shift Ctrl <KeyPress> c: copy-selection(CLIPBOARD)\n

! Set TERM variable
xterm*termName:  xterm-256color

! Scrollback
xterm*saveLines: 4096

! Right hand side scrollbar...
xterm*rightScrollBar: false
xterm*ScrollBar: false

! Set background and foreground color
xterm*foreground: #BABDB6
xterm*background: #232629
URxvt*foreground: #BABDB6
URxvt*background: #232629

! Set colorscheme
! Black
*color0: #252525
*color8: #263238

!Red
*color1: #a54b4b
*color9: #d76f68

!Green
*color2: #59934f
*color10: #849900

!Yellow
*color3: #83653a
*color11: #b48800

!Blue
*color4: #2e8ac3
*color12: #3cb9fc

!Magenta
*color5: #5c3466
*color13: #ad7fa8

!Cyan
*color6: #109c9c
*color14: #4ed6d6

!White
*color7: #727272
*color15: #cce0ea

! stop output to terminal from jumping down to bottom of scroll again
xterm*scrollTtyOutput: false
